{% extends 'VJgramapp/base1.html' %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
	body {
	  font-size: 1em;
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}

	input:hover,button:hover{
		transform: translate(2px,2px);
	}

	.messages:hover{
		box-shadow: 0 12px 12px 0 rgba(0,10,10,0.2);
		transform: translate(3px,4px);
	}

	.chat .messages {
	  border:1 px solid;
	  background-color:#ffffff;
	  border-radius: 15px;
	  width:40%;
	  padding:10px;
	  margin: auto;
	  overflow-y:scroll;
	  height:350px;
	  color: snow;
	  border: 1px solid #dddddd;
	border-left: 1px solid teal;
	border-bottom: 1px solid teal;
	}

	li{
		border: 1px solid #016464;
		background-color: #016464;
		border-radius: 10px;
		padding: 1rem;
	}

	li:hover{
		box-shadow: 0 10px 10px 0 rgba(0, 90, 90, 0.2);
		transform: translate(4px,4px);
	}

	form{
		margin: auto;
		width: 50%;
	}


	.chat a {
	  color:slategray;
	}

	.chat p{
	  margin:5px;
	}

	.speech-bubble {
		position : relative;
	  background: #016464;
		
  }

  .card-header{
	color: rgb(0, 66, 66);
	border: 1px solid #dddddd;
	border-left: 7px solid teal;
	border-bottom: 1px solid teal;
	margin: 5%;
  }


  </style>
	<div class="card-header">
<div class="row">
	<div class="card-body">
		<h2><a class="article-title">{{ object.title }}</a></h2>
		<p class="article-content">{{ object.description }}</p>

		{% if group.creator == user %}
		  <div>
		  <button class="btn btn-secondary btn-sm mt-1" style="padding: .65% 4.5%;" href="{%url 'group-update' group.group_id %}">Update</button>
		  <button class="btn btn-danger btn-sm mt-1" style="padding: .65% 4.5%;" href="{%url 'group-delete' group.group_id %}">Delete</button>
		  </div>
		{% endif %}
	</div>
</div>


<div class="container" id="chat">
	<div class="messages">
		<ul style="list-style-type: none;">
		{% for chat in chats %}
			<li class="speech-bubble">
				<span style="float: left;"><b>{{chat.user_id_from}}: </b></span>
				<span>{{chat.content}}</span><br>
				<span style="font-size: 10px; float: right;">{{chat.date_created}}</span>
			</li><br>
		{% endfor %}
		<div class="chatting">
			<li class="speech-bubble">
				<span style="float: left;"><b>{{chat.user_id_from}}: </b></span>
				<span>{{chat.content}}</span><br>
				<span style="font-size: 10px; float: right;">{{chat.date_created}}</span>
			</li><br>
		</div>
	</ul>
	</div>
<br>
		<form method="POST" style="text-align: center;">
			{% csrf_token %}

		<input class="form-group" type="text" id="fname" data-commentid="{{ group.group_id }}" style="width: 50%; padding: 5px; border-radius: 10px;">
		<button type="button" class="postbutton btn btn-outline-info" style="padding: .85% 6.5%;" id="comment" data-commentid="{{ group.group_id }}" >
			Post
		</button>
		</form>
		<div>
		{% for member in mt %}
				{{member}}
		{% endfor %}
		</div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

$(function()
{
    $('#comment').click
    (
        function()
        {
            var catid;
            catid = $(this).attr("data-commentid");
            var cid;
		cid = $(this).attr("data-commentid");
		var comment_data;
		comment_data = $(this).parent().find("#fname").val();
		console.log(comment_data)

			$.ajax
		(
				{
						type:"POST",
						url: "/chat/push",
						data:{
						group_id:cid,
						content: comment_data,
							},
							success:function(data){
								var prevState = $("#chat .messages .chatting").html();
								console.log(prevState.length);
								message = data.user_id+" "+data.content;
								if(prevState.length >4)
								{ prevState = prevState+"<br>";}
								$("#chat .messages  .chatting").html(prevState + message );
							}

				}
		)
		console.log("this comment executed correctly");
	}
)
});
</script>

{% endblock %}
