{%extends 'VJgramapp/base1.html'%}
{%block content%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
	.center{
		margin: 0 30% 0 30%;
		border: 1px solid #dddddd;
		border-bottom: 1px solid teal;
		border-left: 5px solid teal; 
		border-radius: 15px;
		padding: 15px;
	}

	small{
		float: right;
	}

	.title{
		margin-left: 10px;
		font-size: 2rem; 
		vertical-align: -webkit-baseline-middle;
	}
</style>
<div>

	<h1 class="mb-3" style="text-align: center; color: rgb(0, 92, 92); padding: 20px 0; margin: 0 25% 10px 25%; border-bottom: 1px solid #eee;">Groups created by {{view.kwargs.username}}</h1>
	
	{% for group in groups %}
	<article class="media content-section center hoverable">
	  <div class="media-body">
		<div class="article-metadata">
			<img class="rounded-circle article-img" style="border-radius: 50%;" height =35 width=35 src="{{ group.icon.url }}">
			<b><a class="article-title title" style="color: rgb(0, 100, 100);" href="{% url 'group-detail' group.group_id %}">{{ group.title }}</a></b>
			<br>
		  
		</div>
		
		<p class="article-content"> Description: {{ group.description }}</p>
		<small class="mr-2 text-muted"> {{ group.created }}</small>
		  <small class="text-muted">Created on: {{ group.date_created }}</small>
	  </div>
	</article>
	<br>
	{% endfor%}
</div>

{% endblock%}
