<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>
		About Us - {{title}}
	</title>
	{% else %}
	<title>
		aboutus
	</title>
	{% endif %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<style type="text/css">
	.country {
            background-color: black;
            color: white;
            padding: 8px;
        }
	.class1{
		background-image: url('vjti.jpg');
		background-size: cover;
	}
	.jumbotron{
		margin-bottom: 0;
	}
	.s1{
  background-image: url('.jpg');
}

.s2{
  background-image: url('.jpg');
}

.s3{
  background-image: url('.jpg');
}
.s4{
	background-image : url('.jpg')
}
.card-div{
	width:50px;
	height:200px;
}
.img-div{
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background-color: black;
  background-size: cover;
  border-radius: 100%;
}

</style>
</head>
<body >
	<nav class="navbar navbar-dark bg-primary shadow p-3 mb-5 bg-info rounded">
  <a class="navbar-brand" href="aboutus.html">

    <b style="color: #cc0099" >VJgram</b>
  </a>
</nav>
<div class="jumbotron class1">
  <h1 class="display-4"><center><i>VJGRAM</i></center></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

</div>
<div class="jumbotron">
  <h1 class="display-4"><center>About Us.</center></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

</div>
<div class="jumbotron">
  <h1 class="display-4"><center>Creators</center></h1>
  <center><div class="row">
	<div class="col-sm-3">
		<div class="card-div">
			<div class="img-div s1">
              </div>
			<h4>Shivani</h4>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card-div">
			<div class="img-div s2">
              </div>
			<h4>Ketaki</h4>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card-div">
			<div class="img-div s3">
              </div>
			<h4>Sarakshi</h4>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card-div">
			<div class="img-div s4">
              </div>
			<h4>Devanshi</h4>
		</div>
	</div>
  </div>


</div>
</center>
<div class="container" style="color:black">
	<header>

	</header>
	<table>
		<tr><th>Creators</th><th>Roll No.</th></tr>
		<tr><td>Shivani</td><td>62</td></tr>
		<tr><td>Ketaki</td><td>69</td></tr>
		<tr><td>Devanshi</td><td>67</td></tr>
		<tr><td>Sarakshi</td><td>65</td></tr>
	</table>
	<p class="country">We are students of VJTI and are developing <q>VJGRAM</q></p>
	<hr>
	<center><img src="fest.jpg" width="1152" height="648" alt="friends" usemap="#friendmap">

	<map name="friendmap">
  <area shape="circle" coords="345,67,50" href="nirmaan.htm" alt="Nirmaan">
  <area shape="circle" coords="578,95,50" href="pratibimb.htm" alt="pratibimb">
  <area shape="circle" coords="870,158,50" href="technovanza.htm" alt="Technovanza">
  <area shape="circle" coords="938,314,50" href="ecell.htm" alt="Ecell">
  <area shape="circle" coords="940,500,50" href="coc.htm" alt="COC">
  <area shape="circle" coords="670,575,50" href="digitalvjti.htm" alt="DigitalVjti">
  <area shape="circle" coords="441,570,50" href="cesa.htm" alt="CESA">
  <area shape="circle" coords="231,436,50" href="rangawardhan.htm" alt="Rangawardhan">
  <area shape="circle" coords="139,299,50" href="alumni.htm" alt="Alumni">
  <area shape="circle" coords="281,178,50" href="dlavjti.htm" alt="DLAVJTI">

</map>
</center>
	<p>Bibliography</p>
	<iframe src="https://www.w3schools.com"></iframe></div>
	<footer>
		Hope you enjoy this.
	</footer>
</body>
</html>
