{% extends 'VJgramapp/base1.html' %}
{% block content %}
{% for friend in friends%}
	<div class="card" style="width: 18rem;">
	<div class="card-body">
	<h5 class="card-title">{{friend.following}}</h5>
	<h6 class="card-subtitle mb-2 text-muted">Ca</h6>
	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	<button type="button" class="removebutton" data-catid="{{friend.friend_id}}">
		removeFriend
	</button>
	</div>
	</div>
{% endfor %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
$(function()
{

	$('.removebutton').click
	(
		function()
		{
			var catid;
			catid = $(this).attr("data-catid");
			$(this).css("background-color","green");
			$.ajax
			(
				{
					type:"POST",
					url: "/removefriend",
					data:
						{
							friend_id: catid,
						},

				}
			)
			console.log("this was executed correctly");
		}
	)

});
</script>

{% endblock %}
