{%extends 'VJgramapp/base1.html'%}
{%block content%}

<style>
	input:hover, button:hover{
		transform: translate(2px,2px);
	}

	.card{
		color: rgb(0, 90, 90);
		margin: 3% 30%;
		border: 1px solid #dddddd;
		border-left: 7px solid teal;
		border-bottom: 1px solid teal;
		border-radius: 20px;
		padding: 20px;
	}
</style>

<div class="jumbotron">
	{% for post in posts %}
		{% if post.author in friends %}
			<div class="card">
				<div class="row">
					<div style="padding-left: 15px;">
						<img class="rounded-circle article-img" height=50 width=50 src="{{ post.author.profile.image.url }}">
					</div>
					<div class="col-md-4">
						<h2 style="padding-top: 7px;"><b><a style="color: rgb(0, 90, 90);" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></b></h2>
					</div>
				</div>
				<br>

				<div style="text-align: center; background-color: black; border-radius: 10px;">
					<img width="250" height="250" src="{{ post.image.url }}" alt="Card image cap"><br>
				</div>
				<b>
					<a class="article-title" style="color: rgb(0, 90, 90); font-size: 2rem;" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
				</b>
				<span class="article-content">
					{{ post.content }}
				</span>


				<div class="btn-group">
					{% for like in likes %}
						{% if like.post_id == post %}
							<button type="button" color="blue">
								Like
							</button>
						{% endif %}
						{% empty %}
							<button type="button" class="likebutton btn btn-danger" id="like{{post.id}}" href="#" data-catid="{{ post.id }}" >
								Like
							</button>
					{% endfor %}
				</div>

				<div class="btn-group">
  			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  			    Comments
  			  </button>
  				<div class="dropdown-menu">
						{% for comment in comments %}
							{% if comment.post_id == post %}
				  			<p class="article-content" style="padding: 5px; font-size: 1rem;">{{ comment.content }}<br>
								  <span class="article-content" style="font-size: x-small; text-align: right;"><span>{{ comment.date_created }}</span></span>
								</p>
							{% endif%}
		  			{% endfor %}
  			  </div>
					<br>
					<br>
			  	<form method="POST">
				  	{% csrf_token %}
			  			<input placeholder="New Comment" type="text" id="fname" data-commentid="{{ post.id }}">
			  				<button type="button" class="commentbutton" id="comment" href="#" data-commentid="{{ post.id }}" >
				  				Post
			  				</button>
			  	</form>
					</div>
					<br>
					<small class="text-muted" style="font-size: medium;">Posted on: {{ post.date_posted }}</small>
			</div>
</div>
	{% endif %}
	{% empty %}
		Seems like you don't have any friends, go ahead make some!
	{% endfor%}

<div class="col-md-4">
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>
            <ul class="list-group">
						    <li class="list-group-item list-group-item-light">
								    <a class="nav-link" href="{% url 'post-create' %}"><b>Want to Post?</b></a>
						    </li>
                <li class="list-group-item list-group-item-light">
                    <a class="nav-link" href="{% url 'friends' user.username %}"><b>Your Friends</b></a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a class="nav-link" href="{% url 'otherusers' %}"><b>Want to make New Friends?</b></a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a class="nav-link" href="{% url 'groups' %}"><b>Your Groups</b></a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a class="nav-link" href="{% url 'othergroups' %}"><b>Want to make New Groups?</b></a>
                </li>
            </ul>
        </p>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
$(function()
{
    $('.likebutton').click
    (
        function()
        {
            var catid;
            catid = $(this).attr("data-catid");
            $(this).css("background-color","green");
            $.ajax
            (
                {
                    type:"POST",
                    url: "/likepost",
                    data:
                        {
                            post_id: catid
                        },
                }
            )
            console.log("this was executed correctly");
        }
    )
    $('.commentbutton').click
    (
        function()
        {
            var catid;
            catid = $(this).attr("data-commentid");
            $(this).css("background-color","blue");
            var cid;
            cid = $(this).attr("data-commentid");
            var comment_data;
            comment_data = $(this).parent().find("#fname").val();
            console.log(comment_data)
		        $.ajax
            (
                {
									type:"POST",
			            url: "/commentPost",
			            data:
                        {   // < here
			                'post_id': catid,
							'content': comment_data,
			        	},

			    }
			)
	 		console.log("this comment executed correctly");
		}
	)
});
</script>
{% endblock%}
