{% extends 'VJgramapp/base1.html' %}
{% block content %}
{% for user in users%}
	<div class="card" style="width: 18rem;">
	<div class="card-body">
	<h5 class="card-title">{{user.username}}</h5>
	<h6 class="card-subtitle mb-2 text-muted">Ca</h6>
	<button type="button" class="addbutton" data-catid="{{user.id}}">
		addFriend
	</button>
	</div>
	</div>
{% endfor %}
<div class="col-md-4">
				<div class="content-section">
					<h3>Our Sidebar</h3>
					<p class='text-muted'>You can put any information here you'd like.
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">
								<a class="nav-link" href="{% url 'friends' user.username %}"><b>Your Friends</b></a>
							</li>
							<li class="list-group-item list-group-item-light">
								<a class="nav-link" href="{% url 'groups' %}"><b>Your Groups</b></a>
							</li>
							<li class="list-group-item list-group-item-light">
								<a class="nav-link" href="{% url 'othergroups' %}"><b>Want to make New Groups?</b></a>
							</li>
						</ul>
					</p>
				</div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
$(function()
{

	$('.addbutton').click
	(
		function()
		{
			var catid;
			catid = $(this).attr("data-catid");
			$(this).css("background-color","green");
			/*$.post("likepost",{'post_id':catid},function()
				{
				alert("post in ajax is executing xorrectly")
			});*/
			$.ajax
			(
				{
					type:"POST",
					url: "/addfriend",
					data:
						{
							user_id: catid
						},

				}
			)
			console.log("this was executed correctly");
		}
	)

});
</script>
{% endblock %}
