{% extends 'VJgramapp/base1.html' %}
{% load crispy_forms_tags%}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					<center>
					Delete Post
					</center>
				</legend>
				<a class="article-title" style="color: rgb(0, 90, 90); font-size: 2rem;" href="{% url 'post-detail' post.id %}">
            {{ object.title }}
        </a>
    &nbsp;
    <span class="article-content">
        {{ object.content }}
    </span>
    <br>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">
					Yes,Delete
				</button>
				<a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">
					Cancel
				</a>
			</div>

		</form>

	</div>
{% endblock content%}
