{%extends 'VJgramapp/base1.html'%}
{%block content%}


<style>
	.article{
		margin: auto;
	}
</style>

<h1 class="mb-3">Posts by {{view.kwargs.username}}</h1>
{% for post in posts %}
    {% if post in p %}
        <article class="media content-section article">
            <img class="rounded-circle article-img" height=25 width=25 src="{{ post.author.profile.image.url }}">
						<h2 style="padding-top: 7px;"><b><a style="color: rgb(0, 90, 90);" href="{% url 'user-posts' %}">{{ post.author }}</a></b></h2>
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">
                        {{ post.date_posted }}
                    </small>
                </div>
                <img class="article-img" height =50 width=100 src="{{ post.image.url }}">
                <h2>
                    <a class="article-title" href="{% url 'post-detail' post.id %}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="article-content">
                    {{ post.content }}
                </p>
            </div>
            <div class="btn-group">
                {% for like in likes %}
                    {% if like.post_id == post %}
                        <button type="button" color="blue">
                            Like
                        </button>
                    {% endif %}
                    {% empty %}
                        <button type="button" class="likebutton btn btn-danger" id="like{{post.id}}" href="#" data-catid="{{ post.id }}" >
                            Like
                        </button>
                {% endfor %}
            </div>
            <div class="container" id="{{post.id}}">
                {% for comment in comments %}
                    {% if comment.post_id == post %}
                        <p class="article-content" style="padding: 5px; font-size: 1rem;">
                            {{ comment.user_id }}
                        </p>
                        <br>
                        <p class="article-content" style="padding: 5px; font-size: 1rem;">
                            {{ comment.content }}
                        </p>
                        <br>
                        <span class="article-content" style="font-size: x-small; text-align: right;">
                            <span>
                                {{ comment.date_created }}
                            </span>
                        </span>
                    {% endif%}
                {% endfor %}
                <br>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <input placeholder="New Comment" type="text" id="fname" data-commentid="{{ post.id }}">
                    <button type="button" class="commentbutton" id="comment" href="#" data-commentid="{{ post.id }}" >
                    Post
                    </button>
                </form>
            </div>
        </article>
    {% endif %}
{% endfor%}
	<div class="col-md-4">
	    <div class="content-section">
	        <h3>Our Sidebar</h3>
	        <p class='text-muted'>
	            <ul class="list-group">
							    <li class="list-group-item list-group-item-light">
									    <a class="nav-link" href="{% url 'post-create' %}"><b>Want to Post?</b></a>
							    </li>
									<li class="list-group-item list-group-item-light">
									    <a class="nav-link" href="{% url 'friends' user.username %}"><b>Want to see your friends?</b></a>
							    </li>
									<li class="list-group-item list-group-item-light">
									    <a class="nav-link" href="{% url 'otherusers' %}"><b>Want to add some new friends?</b></a>
							    </li>
									<li class="list-group-item list-group-item-light">
									    <a class="nav-link" href="{% url 'group-create' %}"><b>Want to make a group?</b></a>
							    </li>
									<li class="list-group-item list-group-item-light">s
	                    <a class="nav-link" href="{% url 'groups' %}"><b>Want to see your groups?</b></a>
	                </li>
									<li class="list-group-item list-group-item-light">
											<a class="nav-link" href="{% url 'othergroups' %}"><b>Want to join some new group?</b></a>
									</li>
									<li class="list-group-item list-group-item-light">
											<a class="nav-link" href="{% url 'user-groups' %}"><b>Want to see groups you created?</b></a>
									</li>
	            </ul>
	        </p>
	    </div>
	</div>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	$(function()
	{
	    $('.likebutton').click
	    (
	        function()
	        {
	            var catid;
	            catid = $(this).attr("data-catid");
	            $(this).css("background-color","green");
	            $.ajax
	            (
	                {
	                    type:"POST",
	                    url: "/likepost",
	                    data:
	                        {
	                            post_id: catid
	                        },
	                }
	            )
	            console.log("this was executed correctly");
	        }
	    )
	    $('#commentbutton').click
	    (
	        function()
	        {
	            var catid;
	            catid = $(this).attr("data-commentid");
	            $(this).css("background-color","blue");
	            var cid;
	            cid = $(this).attr("data-commentid");
	            var comment_data;
	            comment_data = $(this).parent().find("#fname").val();
	            console.log(comment_data)
			        $.ajax
	            (
	                {
										type:"POST",
				            url: "/commentPost",
				            data:
	                        {   // < here
				                'post_id': catid,
								'content': comment_data,
				        	},
									success:function(data)
									{
										var prevState = $(this).parent().parent().html();
										message = user.username + " : " + comment_data;
										if(prevState.length >4)
										{ prevState = prevState+"<br>";}
										$(this).parent().parent().html(prevState + message );
									}
				    }
				)
		 		console.log("this comment executed correctly");
			}
		)
	});
	</script>
{% endblock%}
