{%extends 'VJgramapp/base1.html'%}
{%block content%}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/be0ad558f3.js" crossorigin="anonymous"></script>
<!--Javascript for like button-->
      <script>
      	var btn = document.getElementById('btn');
      	function Toggle(){
      	if(btn.classList.contains("far")){
      		btn.classList.remove("far");
      		btn.classList.add("fas");
      	}
      	else{
      		btn.classList.remove("fas");
      		btn.classList.add("far");
      	}
      }
      </script>
<style>
	.article{
		margin: auto;
	}
	* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}


.container{
	max-width:1200px;
	margin: auto;
	background: #f2f2f2;
	overflow:auto;
	
}
.gallery{
	margin:5px;
	border:1px solid #ccc;
	float:left;
	width:300px;
	display:inline-block;


}
.gallery img{
	width:100%;
	height:auto;
}
@media screen and (max-width: 100%) {
      .sidenav {
        height: auto;
        padding: 15px;
        width: 120%;
      }
      .row.content {height:auto;} 
    }
    .container i{
    	transition: .4s;
    }
    .container:hover i{
    	color:#f50057;
    }
.fas{
    	color:#f50057;
    	transition: .4s;
    }

    /*modal*/
    #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
</style>

	<div style="text-align:center">
	<h1 class="mb-3">  Posts by {{view.kwargs.username}}</h1>
</div>
<div class="container">
	
	
      <div class="w3-col m8" >
	{% for post in posts %}
	
	<div class="gallery">
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="https://getdrawings.com/free-icon/default-avatar-icon-70.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
	<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
	  <div class="media-body">

		<div class="article-metadata">
			 <span class="w3-right w3-opacity">
		  <h4><a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></h4><br>
		  <small class="text-muted">{{ post.date_posted }}</small>
		</div></span>
	 <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-full">
		<img class="article-img" id="myImg" src="{{ post.image.url }}">
		</div></div>
		<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		<p class="article-content">{{ post.content }}</p>
	  </div>

	<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

	<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i onclick="Toggle()" id="btn" class="far fa-heart"></i> Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" style="color:white;"><i class="fa fa-comment"></i>  Comment</button> 
      </div>
      </div></div>
</div></div>

<!--JS-->
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
	{% endfor%}
{% endblock%}
