{% extends 'VJgramapp/base1.html' %}

{% block content %}

<style>
	.jumbotron{
	color: rgb(0, 78, 78);
	border: 1px solid #dddddd;
	border-left: 7px solid teal;
	border-bottom: 1px solid teal;
	border-radius: 20px;
}
</style>
  <br>
<div class="container" >
	<div class="jumbotron">
		<h2><b>About Us</b></h2><hr>
		<p style="font-size: 1.2rem;">
			Welcome to <b>VJgram</b>, your number one source for all intra-college communication. 
			We're dedicated to providing you the very best of our services, with an emphasis on 
			quality communication.
		</p>
		<p style="font-size: 1.2rem;">
			Founded in 2020 by <b>Shivani Pawar</b>, <b>Sarakshi Phate</b>, <b>Ketaki Urankar</b> and <b>Devanshi 
			Shah</b>, VJgram has come a long way from its beginnings in VJTI College. When Shivani Pawar first 
			started out, her passion for <b>"Connecting People of VJTI"</b> drove them to start their own business.
		</p>	
		<p style="font-size: 1.2rem;">	
			We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or 
			comments, please don't hesitate to contact us.
		</p>
		<p style="font-size: 1.2rem;">	
			Sincerely,
		</p>
		<p style="font-size: 1.2rem;">
			Shivani Pawar<br>Sarakshi Phate<br>Ketaki Urankar<br>Devanshi Shah
		</p><br>

		<div class="container marketing">
			<!--ROUND PHOTOHOLDERS-->
			<!-- Three columns of text below the carousel -->
		 
			<div class="row" style="text-align: center;">
			  <!--PHOTO1-->
			  <div class="col-lg-3">
				<svg style="margin-bottom: 20px; border-radius: 50%; border: 3px solid rgb(0,90,90)" class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 100x100"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">100x100</text>
				  <image width="120" height="120" xlink:href="..\static\shivani.jpg" clip-path="url(#rounded-circle)" />
				</svg>
				<h4><b>Shivani Pawar</b></h4>
				<a href="https://github.com/shivanipawar00">github.com/shivanipawar00</a>
			  </div>
			  <!--PHOTO2-->
			  <div class="col-lg-3">
				<svg style="margin-bottom: 20px; border-radius: 50%; border: 3px solid rgb(0,90,90)" class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 100x100"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">100x100</text>
				<image width="120" height="120" xlink:href="..\static\devanshi.jpeg" clip-path="url(#rounded-circle)" />
			  </svg>
				<h4><b>Devanshi Shah</b></h4>
				<a href="https://github.com/Devanshi1500">github.com/Devanshi1500</a>
			  </div>
			  <!--PHOTO3-->
			  <div class="col-lg-3">
				<svg style="margin-bottom: 20px; border-radius: 50%; border: 3px solid rgb(0,90,90)" class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 120x120"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">120x120</text>
				  <image width="120" height="120" xlink:href="..\static\Sarakshi.jpg"/>
				</svg>
				<h4><b>Sarakshi Phate</b></h4>
				<a href="https://github.com/sarakship">github.com/sarakship</a>
			  </div> 
			  <!-- PHOTO4-->
			  <div class="col-lg-3">
				<svg style="margin-bottom: 20px; border-radius: 50%; border: 3px solid rgb(0,90,90)" class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 100x100"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">100x100</text>
				<image width="120" height="120" xlink:href="..\static\ketaki.jpg" clip-path="url(#rounded-circle)" />
			  </svg>
				<h4><b>Ketaki Urankar</b></h4>
				<a href="https://github.com/ketaki2000">github.com/ketaki2000</a>
			  </div>
			</div></div>
	  
		









		
	</div>
</div>
{% endblock content %}