{% extends 'VJgramapp/base1.html' %}
{% load crispy_forms_tags%}
{% block content %}
<style>


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250%;
  border-radius: 5px;
  background-color: white;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  position: inline;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 50px 10px;
  
  

  display: flex;
  justify-content: center;
  flex-direction: row;
}
}
</style>
<div class="card">
<div class="container" style ="width: 100%">
	
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Log In
				</legend>
				<div class="col-xs-10" style="width: 100%">
				{{ form|crispy}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-success" type="submit" style="width:100%">
					LogIn
				</button>
			</div>
			<div class="border-top pt-3">
				<small class="text-muted">
					Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
				</small>
				Hiiiiiii
			</div>
		</form>
	</div>
</div>
</div>
{% endblock content%}
