{% extends 'VJgramapp/base1.html' %}
{% block content %}
<style>
	.box{
	color: rgb(0, 78, 78);
	margin: 0 5%;
	border: 1px solid #dddddd;
	border-left: 1px solid teal;
	border-bottom: 1px solid teal;
}
</style>
<div class="container"><br>
	<div class="jumbotron box">
	<h2>You have Logged Out</h2>
	<div class="content-section">

			<div class="border-top pt-3 text-muted">
					Have an account? <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
			</div>
</div></div>
	</div>
{% endblock content%}
