{% extends 'VJgramapp/base1.html' %}

{% load crispy_forms_tags%}

{% block content %}
<style>
.jumbotron{
	display:block;
	color: rgb(0, 78, 78);
	margin: 0 15%;
	border: 1px solid #dddddd;
	border-left: 7px solid teal;
	border-bottom: 1px solid teal;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.jumbotron{
	padding: 20px 20px;
}

input:hover,button:hover{
		transform: translate(3px,3px);
	}

.container {
  padding: 30px 150px 0px 150px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
}
</style>
<div class="container" style ="width: 100%; text-align: center;">
	<div class="jumbotron">
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom" style="font-size: 2.5rem;">
					Join Today
				</legend>
				<br>
				 <div class="col-xs-2" style="width: 100%">
				{{ form|crispy}}
			</fieldset></div>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">
					Sign Up
				</button>
			</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
				</small>
			</div>
		</div>
	</div><br><br>
	</div>
{% endblock content%}
